@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

// ============================================================
// ui-kit
@import "ui-kit.scss";

// ============================================================
// tags

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: $light-balk;
  text-decoration: none;
  transition: $transition;

  &:hover {
    @media #{$media-hover} {
      color: $black;
    }
  }
}

// ============================================================
// ids

#root {
  font-family: $font-Inter, sans-serif;
  font-size: $root-font-size + px;

  color: $black;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }
}

// ============================================================
// classes

.container {
  max-width: 1278px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
