$font-Inter: "Inter";
$root-font-size: 16;

$white: #ffffff;
$light-gray: #f7f7f7;
$dark-gray: #757575;
$light-balk: #525252;
$black: #000000;
$peachy: #ffebd8;

$media-screen-xs: "479.99px";
$media-screen-sm: "767.99px";
$media-screen-md: "1059.99px";
$media-hover: "screen and (min-width: #{$media-screen-sm})";

$transition: all 0.3s;

@function rem($px) {
  @return ($px / $root-font-size) + rem;
}

@function em($px) {
  @return ($px / $root-font-size) + em;
}

@function percent($size-text, $line-height) {
  @return $line-height / $size-text * 100%;
}
